<mat-toolbar class="flex align-items-center justify-content-between" color="primary">
  <button type="button" mat-icon-button (click)="toggleSidebar.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <b *ngIf="user;else templateName">
    <span class="mr-2"  style="cursor: pointer;" routerLink="my-profile">AUTENTICADO: {{ user.fullName }}</span>
    <button (click)="authService.logOut()" mat-flat-button color="warn">Cerrar sesión</button>
  </b>
  <ng-template #templateName>
    <button routerLink="/auth/login" mat-flat-button color="primary">Iniciar sesión</button>
  </ng-template>
</mat-toolbar>
